
 /* ========= big screen ========= */
@media screen and (min-width: 480px) {
    .build-type-txt{
        font-weight: bold;
        font: 700;
    }
    
  }

  /* ========= small screen ========= */
  @media screen and (max-width: 600px) {
    .build-type-txt{
        font-weight: bold;
        font-size: 0.8em;
    }
    a.my-tab-txt{
        font-size: 0.6em; 
    }
    
  }