/* ========= big screen ========= */
@media screen and (min-width: 480px) {
  .build-type-txt {
    font-weight: bold;
    font: 700;
  }
  .mesh-no-choice-txt {
    font-weight: bold;
    font-size: 0.8em;
  }
  .Summary-text{
    font-size: 0.7em;
  }
}

/* ========= small screen ========= */
@media screen and (max-width: 600px) {
  .build-type-txt {
    font-weight: bold;
    font-size: 0.8em;
  }
  a.my-tab-txt {
    font-size: 0.6em;
  }
  .mesh-no-choice-txt {
    font-weight: bold;
    font-size: 0.7em;
  }
  .Summary-text{
    font-size: 0.7em;
  }
}

/* ========= all screen ========= */
.my-image-style {
  height: 50px;
}
.my-footer-txt {
  font-size: 0.6em;
  font-weight: bold;
}
.mesh-no-choice-card {
  height: 100%;
}
.active-selected-build {
  background-color: black;
  color: white;
}
.select-box-label {
  font-weight: bold;
  font-size: 0.8em;
  text-align: start !important;
}
.my-card {
  cursor: pointer;
}
.nounderline {
  text-decoration: none !important;
}
.my-width{
  max-width: 600px;
  margin: auto;
}
