.color-picker-wrap li {
  list-style: none;
}
.color-picker-wrap ul {
  width: 100%;
  padding: 0;
  display: inline-block;
  margin-bottom: 0;
}
.color-picker-wrap li {
  border: 1px dotted #333333;
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  margin: 3px;
  background: #000;
  cursor: pointer;
  filter: alpha(opacity=50);
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.color-picker-wrap li:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.color-picker-wrap li.active {
  /* margin-top: 2px; */
  filter: alpha(opacity=100);
  opacity: 1;
  border-style: solid;
}
.color-picker-wrap.cp-sm li {
  width: 24px;
  height: 24px;
}
.color-picker-wrap.cp-lg li {
  width: 48px;
  height: 48px;
}
.color-picker-wrap .color-picker {
  display: none;
}

.color-picker {
  background-color: #f5f6f8;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.color-btn {
  margin-top: -1px;
  line-height: 1.2;
  padding: 0.25rem;
  max-height: 39px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.color-btn-indicator {
  height: 32px;
  width: 2.7em;
  line-height: 0;
  border: 2px solid rgba(0, 0, 0, 0.125);
}
.color-btn-badge {
  background-color:#16b040;
  color: #fff;
}
.color-btn-label {
  font-size: 80%;
  line-height: 1.05;
  color: #0a0a0a;
  font-weight: bold;
  text-transform: uppercase;
}
